body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}
.logo {
    text-align: center;
    margin: 10px 0; /* Reduced top and bottom margin */
    padding: 0;
}
.logo img {
    width: 80%; /* Adjusted for smaller size */
    max-width: 616px;
    height: auto;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
h1, h2 {
    text-align: center;
    color: #444;
}
textarea, input, button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
.time-display {
    display: flex;
    justify-content: center;
    font-size: 0.9em;
    color: white;
    background-color: black; /* Changed line color to black */
    padding: 3px 0; /* Reduced padding */
    margin: 5px 0; /* Reduced margin */
}
.sliders {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.sliders label {
    flex: 1;
    margin-right: 10px;
}
.sliders input {
    flex: 3;
}
.nap-rules-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.nap-rules-button:hover {
    background-color: #218838;
}
@media (max-width: 600px) {
    .container {
        padding: 15px;
    }
    .time-display {
        flex-direction: column;
        align-items: center;
    }
    .sliders {
        flex-direction: column;
    }
    .sliders label {
        margin-bottom: 5px;
    }
}
